<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div class="container">

  <div class="starter-template">
    <h1>Hello World</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Saludo</th>
        <th>Nombre</th>
      </thead>
      <tbody>
      <tr th:each="nombre : ${namelist}">
        <td>Hola</td>
        <td th:text="${nombre.nombre}">World</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

</body>
</html>